spring:
  application.name: MonkeyNotes
  resources:
    static-locations=classpath:static/:
  datasource:
    url: jdbc:postgresql://mn-db:5432/monkey_db
    username: monkey_user
    password: monK3Y__42_Pa55w0rD
    hikari.auto-commit: false
  jpa:
    hibernate.ddl-auto: update
    properties.hibernate.jdbc.time_zone: UTC
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

app:
  security:
    cors.origin: https://youdomain.com
  dry-run: false
  drive:
    auth:
      refresh-token: 3500
      client-id: GDRIVE_CLIENT_ID
      client-secret: GDRIVE_SECRET
  changes:
    listen.on-startup.enabled: true
    expiration: 3000
    flush: 5
  openai:
    api: OPENAI_API_KEY
    assistant:
      defaults:
        model: gpt-4o-mini
        instructions: You are an assistant who answers questions regarding notes taken during meetings. The attached document, "knowledge.json" (referred to as NOTES by the user), comes from handwritten notes converted to JSON format via OCR.
  qwen:
    url: https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions
    key: QWEN_API_KEY
  paths:
    user_data: /mn_data
  url:
    frontend: https://youdomain.com
    self: https://youdomain.com/api #NOTE THE TRAILING API !
  notify:
    path: /notify
  oauth-callback:
    path: /grant-callback
  defaults:
    qwen:
      prompt: extract the text from the image. do not add any other text
      # available models : qwen2.5-vl-72b-instruct, qwen-vl-max, qwen-vl-ocr
      model: qwen-vl-ocr
      max-tokens: 5000
    ai:
      connect-timeout: 3000
      read-timeout: 180000

#Tooling Spring Boot Starter config
tooling :
  error :
    stacktrace :
      include : true
      log : true

#Logger config
logging:
  level:
    ROOT: INFO