<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Monkey notes</title>

</head>
<body>

<div>
    <a href="/">Home</a> -
</div>

<h2>Ask agent</h2>

<div id="conversation">
</div>

<form id="formQuestion">
    <textarea name="question" id="textAreaQuestion"></textarea>
    <input type="hidden" name="fileId" th:value="${fileId}" id="inputFileId"/>
    <input type="hidden" name="threadId" id="inputThreadId"/>
</form>

<button id="buttonSend">send</button>

<script>
    document.getElementById("buttonSend").addEventListener("click", function() {
        let question = document.getElementById("textAreaQuestion").value;
        let fileId = document.getElementById("inputFileId").value;
        let threadId = document.getElementById("inputThreadId").value;

        let conversationBox = document.getElementById('conversation');

        let pQ = document.createElement("p")
        pQ.textContent = question;
        conversationBox.appendChild(pQ);


        const formData = new FormData();
        formData.append('question', question);
        formData.append('fileId', fileId);
        formData.append('threadId', threadId);

        fetch('/agent/ask', {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // parse JSON from body
            })
            .then(data => {
                const eventSource = new EventSource(data.url);


                eventSource.onmessage = (event) => {
                    let data = event.data;

                    if (data == 'waiting') {
                        console.log("waiting...");
                    } else {
                        console.log("done !");

                        let pR = document.createElement("p")
                        pR.textContent = data;
                        conversationBox.appendChild(pR);
                    }
                };

            })
        .catch(error => console.error('Error:', error));


    });

</script>


</body>
</html>