<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Monkey notes</title>

    <link href="/css/form.css" rel="stylesheet" />

</head>
<body>

<div>
    <a href="/">Home</a> -
</div>

<h2>Ask agent</h2>

<div id="conversation">
</div>

<form id="formAgent">
    <label for="textAreaQuestion">Question</label>
    <textarea name="question" id="textAreaQuestion"></textarea>
    <label for="inputResetId">Reset</label>
    <input type="checkbox" name="reset" id="inputResetId"/>
    <label for="selectModelId">Model</label>
    <select name="selectModel" id="selectModelId">
        <option value="default">default</option>
        <option value="gpt-4o">gpt 4o</option>
        <option value="gpt-4o-mini">gtp 4o mini</option>
    </select>
    <label for="textAreaInstructionsId">Instructions</label>
    <textarea name="instructions" id="textAreaInstructionsId"></textarea>
    <input type="hidden" name="threadId" id="inputThreadId"/>
    <input type="hidden" name="fileId" th:value="${fileId}" id="inputFileId"/>
</form>

<button id="buttonSend">send</button>

<script th:inline="javascript">

let fileId = /*[[${fileId}]]*/ {};

</script>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        fetch('/agent/prepare/' + fileId, {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {

            if(data.exists) {
                let conversationBox = document.getElementById('conversation');

                data.messages.forEach(function (message, index) {
                    let pM = document.createElement("p")
                    pM.textContent = 'from ' + message.messageDir + ' @ ' + message.createdAt + ' : ' + message.content;
                    conversationBox.appendChild(pM);
                });
            }
        })
        .catch(error => console.error('Error:', error));

        document.getElementById("buttonSend").addEventListener("click", function() {
            let question = document.getElementById("textAreaQuestion").value;
            let conversationBox = document.getElementById('conversation');

            let pQ = document.createElement("p")
            pQ.textContent = question;
            conversationBox.appendChild(pQ);

            let form = document.getElementById("formAgent");
            const formData = new FormData(form);

            fetch('/agent/ask', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // parse JSON from body
                })
                .then(data => {

                    const eventSource = new EventSource(data.url);
                    eventSource.onmessage = (event) => {
                        let data = event.data;

                        if (data == 'waiting') {
                            console.log("waiting...");
                        } else {
                            console.log("done !");

                            let pR = document.createElement("p")
                            pR.textContent = data;
                            conversationBox.appendChild(pR);
                        }
                    };
                })
                .catch(error => console.error('Error:', error));
        });
    });

</script>
</body>
</html>