<html>
<head>
    <title>Preferences</title>
</head>
<body>

<h2>Preferences</h2>
<div>
    <a href="/">Home</a> - <a href="/data/export">Export your data</a>
</div>

<div id="auth-box">
</div>

<form method="post" th:action="@{/preferences/form}">
    <ul id="ulContainer"></ul>
    <input type="submit" value="save" />
</form>

<form th:action="@{/preferences/reset}">
    <input type="submit" value="reset" />
</form>

<form action="/data/import" method="post" enctype="multipart/form-data">
    <label for="file">Choose a file to upload:</label><br>
    <input type="file" id="file" name="file"><br><br>
    <input type="submit" value="Upload File">
</form>

<script>

    function addField(fieldName, value) {
        const li = document.createElement("li");

        const lbl = document.createElement("label");
        lbl.textContent = fieldName;
        lbl.htmlFor = 'id' + fieldName;
        li.appendChild(lbl);

        const input = document.createElement("input");
        input.type = 'text';
        input.name = fieldName;
        input.id = 'id' + fieldName;
        input.value = value;
        li.appendChild(input);

        return li;
    }

    async function ready() {
        const response = await fetch('/preferences/authGoogleDrive');
        const authJson = await response.json();

        if(authJson.connected == false) {
            const container = document.getElementById('auth-box');

            const authLink = document.createElement('a');
            authLink.href = authJson.url;
            authLink.textContent = "connect to google drive is required"
            container.appendChild(authLink);

        }

        const ulContainer = document.getElementById('ulContainer');


        fetch('/preferences/get', {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            ulContainer.appendChild(addField("useDefaultPrompt", data.useDefaultPrompt));
            ulContainer.appendChild(addField("prompt", data.prompt));
            ulContainer.appendChild(addField("useDefaultModel", data.useDefaultModel));
            ulContainer.appendChild(addField("model", data.model));
            ulContainer.appendChild(addField("inputFolderId", data.inputFolderId));
            ulContainer.appendChild(addField("outputFolderId", data.outputFolderId));
            ulContainer.appendChild(addField("useDefaultAiConnectTimeout", data.useDefaultAiConnectTimeout));
            ulContainer.appendChild(addField("aiConnectTimeout", data.aiConnectTimeout));
            ulContainer.appendChild(addField("useDefaultAiReadTimeout", data.useDefaultAiReadTimeout));
            ulContainer.appendChild(addField("aiReadTimeout", data.aiReadTimeout));
            ulContainer.appendChild(addField("useDefaultModelMaxTokens", data.useDefaultModelMaxTokens));
            ulContainer.appendChild(addField("modelMaxTokens", data.modelMaxTokens));
        });

    }
    document.addEventListener('DOMContentLoaded', ready);
</script>

</body>
</html>