<html>
<head>
    <title>Monkey notes</title>

</head>
<body>

<div>
    <a href="/">Home</a>
</div>

<h2>Current processing</h2>

<ul id="ulContainer"></ul>

<script>
    function ready() {
        const ulContainer = document.getElementById('ulContainer');

        fetch('/processing/get', {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                data.forEach(process => {

                    const li = document.createElement("li");

                    const span = document.createElement("span");
                    span.textContent = process.name + " : " + process.description + ", " + process.duration + " [" + process.status + "]";
                    li.appendChild(span);

                    const aCancel = document.createElement("a");
                    aCancel.href = '/process/cancel/' + process.id;
                    aCancel.textContent = 'cancel';
                    li.appendChild(aCancel);

                    ulContainer.appendChild(li);

                });
            });
    }

    document.addEventListener('DOMContentLoaded', ready);

</script>

</body>
</html>